
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Qui sommes nous ?</h1>
          <p class="lead text-muted">Bibliorun est un site de partage, d'échange et de découverte de livres <br> pour les élèves du collège Dina Morgabin.</p>

        </div>
      </section>
      <!-- Three columns of text below the carousel -->
<div class="container marketing text-center">
  <h2 class="jumbotron-heading">L'équipe derrière ce projet  </h2>
      <div class="row">
        <div class="col-lg-4">
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

          <h2>Développeur</h2>
          <p>Jean-rodriguez kinouani </p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <h2>Asma kinouani</h2>
          <p> Fondatrice</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <h2>Oualid Jouhri</h2>
          <p>Conseiller Technique</p>
        </div><!-- /.col-lg-4 -->
        <div class="text-center">
            <p><h3>Ce projet a également été réalisé avec le concours de la direction du collège Dina Morgabin,<br> les CPE et l'aide précieuse du professeur de français.</h3></p>
        </div>
      </div><!-- /.row -->
</div>
