<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-offset-lg-2 col-sm-8 col-offset-sm-2 col-xs-12" id="text_charte">
      <div class="panel panel-default">
          <div class="panel-heading"> Charte du site</div>
          <div class="panel-body">
    <h1 class="title_text_charte">   BibliOrun, c'est quoi ? </h1>
    <p>
        <h3>BibliOrun est un site internet qui permet aux élèves de l’établissement Dina Morgabin de partager, d'échanger et de découvrir de nouveaux livres.
           Le site est également ouvert au corps enseignant et aux administrateurs s'ils veulent partager ou même emprunter des livres.
          <br>
        </h3>
    <p>

    <h1 class="title_text_charte">  Livres partagés </h1>
    <p>
        <h3>Tout genre de livres est acceptés: livre fantastique, d'aventure, de science fiction,social, spirituel, bande dessinée ou même manga.
          Ils ne doivent pas inciter à la heine et au racisme sur toute ses formes. Le prêteur est prié d'inscrir son nom sur chacun de
          ses livres. Les livres porront être emprunté pendant 3 semaines. Vous pouvez emprunter 2 livres à la fois.
          le prêt peut être renouvlé sur présentation des livres, s'ils ne sont pas reservés et si vous n'avez aucun document en retard. Les
          documents déjà empruntés peuvent faire l'objet d'une réservation en vue de prêt.
          Les prêts ne devront pas se faire extérieurement c'est à dire sans passe rpar le responsable.
          <br>

        </h3>
    <p>

      <h1 class="title_text_charte"> Pertes ou vols </h1>
      <p>
        <h3> En cas de perte ou de dégradation, l'emprunteur ets responsable du remplacement du matériel.
          <br>
          Aussi, l'usager s'engage à ne pas:  <br>
                    - écrire ou dessiner sur les livres  <br>
                    - abîmer le livre   <br>
          <br>

          En cas de soucis concernant les livres, veuillez contacter   <br>asma.kinouani75@gmail.com ou sahra.djama@ipe.re

          <br>

        </h3>
      <p>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
