<h3>Bienvenue sur bibliorun</h3>

<%= link_to "S'inscrire",  new_user_registration_path %>
<%= link_to "Connexion",  new_user_session_path %>
<%= link_to "Déconnexion",  destroy_user_session_path, method: :delete %>
